.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    @include desktop {
        flex-direction: row;
        gap: 30px;
    }

    &__links {
        display: flex;
        gap: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: var(--text-color-grey);
        text-decoration: none;
        fill: currentColor;

        @include desktop {
            font-size: 14px;
            line-height: 1.14;
            gap: 10px;
        }

        &:is(:hover, :focus) {
            color: var(--text-color-blue);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &__mail {
        width: 14px;
        height: 10px;
        @include desktop {
            width: 16px;
            height: 12px;
        }
    }
    &__phone {
        width: 10px;
        height: 14px;
        @include desktop {
            height: 16px;
        }
    }

    @include desktop {
        align-items: center;
    }
}
