.introduction {
    background-color: var(--background-color-dark);
    background-image: linear-gradient(
            to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px auto;
    padding-top: 200px;
    padding-bottom: 200px;

    &__layout {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--text-color-white);
        max-width: 696px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--text-color-white);
        background-color: var(--background-color-blue);
        cursor: pointer;
        padding: 10px 41px 10px 42px;
        border-style: none;
        border-radius: 4px;

        &:is(:hover, :focus) {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
