:root {
    --text-color-dark: #212121;
    --text-color-black: #000000;
    --text-color-blue: #2196f3;
    --text-color-grey: #757575;
    --text-color-white: #ffffff;
    --background-color-dark: #2f303a;
    --background-color-light: #f5f4fa;
    --background-color-blue: #2196f3;
    --icons-fill-color: #afb1b8;
}
